<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Who Took the Shot?</title>

        <!-- And the bootstrap stylesheet -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <!-- Include the Leaflet CSS base stlyes -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css" integrity="sha512-wcw6ts8Anuw10Mzh9Ytw4pylW8+NAD4ch3lqm9lzAsTxg0GFeJgoAtxuCLREZSC5lUXdVyo/7yfsqFjQ4S+aKw==" crossorigin=""/>
        
        <!-- and our stylesheet. -->
        <link rel="stylesheet" href="style/style.css">
    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #a8772e;">

            <a class="navbar-brand" href="index.html">
                <img src=graphics/sunshine.png title="Team Sunshine" alt="sun clipart" width="45" height="45">
            </a>

            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav flex-row ml-md-auto d-non d-md-flex">
                <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                <a class="nav-link" href="model_position.html">Model by Position<span class="sr-only"></span></a>
                </li>

                <li class="nav-item">
                <a class="nav-link" href="model_player.html">Model by Player<span class="sr-only"></span></a>
                </li>

                <li class="nav-item">
                <a class="nav-link" href="data.html">Data<span class="sr-only"></span></a>
                </li>

                <li class="nav-item active">
                <a class="nav-link" href="method.html">Method<span class="sr-only">(current)</span></a>
                </li>

            </div>
        </nav>

        <div class = "container">

            <div class = "row" id = "toprow">
                <div class = "col-md-12">
                    <div class = "box">
                        <img src = "graphics/basketball.png" alt="a basketball" id = "ball">
                        <div class = "boxtext">
                            <h1>Who Took the Shot?</h1>
                            <h3><i>A detective story.</i></h3>
                        </div>
                    </div>

                </div>
            </div>

            <div class = "row">

                <div class = "row">

                    <div class = "col-md-12">
                        <p>Method!</p>
                    </div>

                </div>

            </div>

        </div>
        


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    

    </body>
</html>