
.box {
    position: relative;
    display: inline-block;
    width: 1024px;
}

.box .boxtext {
    position: absolute;
    z-index: 999;
    /* margin: 0 auto; */
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
    width: auto;
}

#ball {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
    width: 180px;
}

.wrapper {
    width: 500px;
    height: 100%;
    position: relative;
}

#leftCourt {
    position: relative;
    height: 940px;
    width: 100%;
    /* padding: 25%; */
}

.navbar {
    margin-bottom: 30px;
}

#toprow {
    margin-top: 30px;
}